.dashboard {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.dashboard__menu {
  background-color: $light-blue;
  flex: 4;
  @media (min-width: $desktop-breakpoint) {
    flex: 1;
    min-height: calc(100vh - 104px);
  }
  @media (max-width: 900px) {
    flex: 2;
    min-height: calc(100vh - 104px);
  }
}

.dashboard__content {
  flex: 6;
  h1 {
    text-align: center;
  }
}

.dashboard__content--home {
  display: flex;
  flex: 6;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard__info {
  flex: 5;
  padding: $s-size 0;
}

.dashboard__birthday {
  background-color: $off-white;
  flex: 2;
  text-align: center;
}

.chart {
  margin-bottom: $s-size;
}
