.dashboard {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.dashboard__menu {
  background-color: lighten($dark-blue, 25%);
  flex: 4;
  @media (min-width: $desktop-breakpoint) {
    flex: 1;
    min-height: calc(100vh - 104px);
  }
}

.dashboard__content {
  align-items: center;
  display: flex;
  flex: 6;
  flex-direction: column;
  justify-content: center;
}
