.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: $s-size $l-size;
  @media (min-width: $desktop-breakpoint) {
    justify-content: space-between;
    min-height: 100%;
  }
}

.menu__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    color: $off-white;
    color: $off-white;
    font-weight: 300;
    padding: $s-size $s-size;
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }
  }
  @media (min-width: $desktop-breakpoint) {
    flex-direction: column;
    > * {
      padding: $s-size 0;
    }
  }
}
