.box-layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, 0.15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 35rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
