.content-container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 $m-size;
}

.content-container--company {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
