.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @media (min-width: $desktop-breakpoint) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.dashboard__menu {
  background-color: $light-blue;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  @media (min-width: $desktop-breakpoint) {
    min-height: 100vh;
    // min-height: calc(100vh - 104px);
  }
}

.dashboard__content {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  min-height: 100vh;
  h1 {
    text-align: center;
  }
}

.dashboard__scroll {
  max-height: 120vh;
  overflow-y: scroll;
}

.dashboard__scroll::-webkit-scrollbar {
  width: 1em;
}

.dashboard__scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dashboard__scroll::-webkit-scrollbar-thumb {
  background-color: $light-blue;
  outline: 1px solid $light-blue;
}

.dashboard__content--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard__info {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: $s-size;
  @media (min-width: $desktop-breakpoint) {
    padding: $s-size 0;
  }
}

.dashboard__birthday {
  background-color: $off-white;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: $s-size;
  padding-right: $s-size;
  text-align: center;
}
//
// .dashboard__image-home {
//   background-color: #e8cad6;
//   height: 100%;
//   width: 100%;
// }

.dashboard__image-home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url('/images/dashboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60rem;
  width: 100%;
}

.dashboard__card-alert {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 3px 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3rem rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  // opacity: 0.8;
  text-align: center;
  width: 25rem;

  > * {
    padding: 2rem 1rem;
  }
}

.chart {
  margin-bottom: $s-size;
}
