.loader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.loader__small {
  @extend .loader;
  height: 100px;
  width: 100px;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}
