.details {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding-bottom: $xl-size;
  width: 90vw;
}

.details__image {
  height: auto;
  max-height: 45rem;
  width: 80vw;
  @media (min-width: $desktop-breakpoint) {
    width: 45rem;
  }
}

.details__info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  font-size: $font-size-titles;

  > * {
    padding-bottom: $s-size;
  }

  @media (min-width: $desktop-breakpoint) {
    height: 40rem;
  }
}

.details__description {
  padding-bottom: $s-size;
  padding-top: $s-size;
  text-align: center;
}

.details__share {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75vw;
  > * {
    padding: $s-size / 2;
  }
  @media (min-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.details__numbers {
  font-family: $numbers-font;
  font-size: $font-size-xlarge;
  span {
    font-size: $font-size-large;
  }
}
