.details {
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding-bottom: $xl-size;
  width: 90vw;
}

.details__image {
  height: 45rem;
  width: 80vw;
  @media (min-width: $desktop-breakpoint) {
    width: 35rem;
  }
}

.details__info {
  flex-basis: 50%;

  align-items: center;
  display: flex;
  flex-direction: column;

  font-size: $font-size-titles;

  > * {
    padding-bottom: $s-size;
  }

  @media (min-width: $desktop-breakpoint) {
    height: 40rem;
  }
}

.details__description {
  padding-bottom: $s-size;
  padding-top: $s-size;
  text-align: center;
}

.details__share {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75vw;
  > * {
    padding: $s-size / 2;
  }
  @media (min-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.details__numbers {
  font-family: $numbers-font;
  font-size: $font-size-xlarge;
  span {
    font-size: $font-size-large;
  }
}
