.products {
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}

.products-size {
  justify-content: space-between;
  min-height: 75vh;
}

.products__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: $m-size;
  width: 30rem;
  @media (min-width: $desktop-breakpoint) {
    width: 20rem;
  }
}

.products__item-image {
  height: 25rem;
  width: 25rem;
  @media (min-width: $desktop-breakpoint) {
    height: 20rem;
    width: 20rem;
  }
}
.products__item-details {
  color: $grey;
  width: 25rem;
  @media (min-width: $desktop-breakpoint) {
    width: 15rem;
  }
}
