.products {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(148, 141, 136, 0.3);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: $m-size;
  width: 90vw;
}

.products-size {
  border: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 75vh;
}

.products__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: $s-size;
  padding-bottom: $m-size;
  // width: 30rem;
  // @media (min-width: $desktop-breakpoint) {
  //   width: 20rem;
  // }
}

.products__item-image {
  height: auto;
  min-height: 22rem;
  width: 100%;
  @media (min-width: $desktop-breakpoint) {
    height: 19rem;
    width: 20rem;
  }
}
.products__item-details {
  color: $grey;
  text-align: center;
  width: 25rem;
  @media (min-width: $desktop-breakpoint) {
    width: 20rem;
  }
}

.products__input {
  margin-bottom: $m-size;
}

.pagination {
  font-size: 2.3rem;
  .active {
    border: none;
  }
  .disabled {
    color: #cccccc;
    a {
      cursor: default !important;
    }
  }
}
