.breadcrumbs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: $l-size * 2 0 $l-size 0;
  width: 90vw;
}

.breadcrumbs__item {
  color: $links-color;
  font-family: $breadcrumbs-font;
  font-size: $font-size-medium;
  padding: $s-size;
}

.breadcrumbs__separator {
  @extend .breadcrumbs__item;
  padding: $s-size 0;
}
