.footer {
  align-items: flex-start;
  background-color: #171316;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 35rem;
}

.footer__brand,
.footer__links,
.footer__contact {
  // flex: 1;

  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: $xl-size;
  @media (min-width: $desktop-breakpoint) {
    flex: 1;
  }
}

.footer__image {
  @extend .image-size-home__small;
}

.footer__column {
  columns: 2;
}

.footer__title {
  color: $off-white;
  font-size: $font-size-titles;
  padding-bottom: $m-size;
}

.color-link {
  color: $off-white;
  &:hover {
    color: $main-color;
  }
}
