.footer {
  align-items: flex-start;
  background-color: #f8f8f5;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  @media (min-width: $desktop-breakpoint) {
    min-height: 40rem;
    padding: $xl-size;
  }
}

.footer__products,
.footer__links,
.footer__contact {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  padding: $l-size;
  @media (min-width: $tablet-breakpoint) {
    flex-basis: 60%;
    padding-top: $xl-size;
  }
  @media (min-width: $desktop-breakpoint) {
    flex: 1;
    padding: $s-size;
    padding-top: $xl-size;
  }
}

.footer__image {
  @extend .image-size-home__small;
}

.footer__title {
  border-bottom: 1px solid lighten($grey, 10%);
  color: #6d6d5d;
  font-size: $font-size-medium;
  padding-bottom: $s-size / 2;
  margin-bottom: $s-size;
  text-transform: uppercase;
  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-small;
  }
}

.footer__list {
  > li {
    padding: 0.2rem 0;
  }
}

.color-link {
  color: $links-color;
  font-size: $font-size-medium;
  transition: color $s-time ease-in-out;
  &:hover {
    color: $main-color;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-small;
  }
}

.sub-link {
  padding-left: $m-size;
}

.copyright {
  background-color: #f8f8f5;
}

.copyright__border {
  border-top: 1px solid rgba(148, 141, 136, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $m-size $xl-size;
  width: 90%;
}

.copyright__names a {
  color: #6d6d5d;
  transition: color $s-time ease-in-out;
  &:hover {
    color: darken(#6d6d5d, 25%);
  }
}
