.header {
  background-color: $header_background;
  border-bottom: 1px solid $header_border;
  box-shadow: 1px 1px 1px 1px $header_border;
  display: flex;
  padding: $s-size 0;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.header__option {
  color: $grey;
  font-size: $font-size-small;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0 $l-size;
  cursor: pointer;
  text-transform: uppercase;
  transition: color $s-time ease-in-out;

  &:hover {
    color: $main-color;
  }
}

.header__dropdown {
  background-color: $header_background;
  margin-right: $m-size;
  padding: 0;
  position: absolute;
  opacity: 0;
  text-align: center;
  transition: opacity $s-time ease-in-out; //visibility 0s,
  visibility: hidden;

  li:first-child {
    margin-top: $m-size;
  }

  li {
    border: 1px solid $header_border;
    color: $grey;
    padding: $s-size;
    transition: color $s-time ease-in-out, background-color $s-time ease-in-out,
      border $s-time ease-in-out;

    &:hover {
      background-color: $main-color;
      border: 1px solid $main-color;
      color: #f9e8ef;
    }
  }
}

.dropdown {
  &:hover .header__dropdown {
    opacity: 1;
    visibility: visible;
  }
}
