.section {
  padding: $xl-size 0 0 0;
  width: 100%;
}

.section--secondary {
  background-color: $section-secondary;
  height: 40rem;
  justify-content: space-between;
  padding: $xl-size 0;
}

.section--padding-bottom {
  padding-bottom: $l-size;
}

.section--sociais {
  background-color: #f9e8ef;
}

.section__title {
  border-bottom: 3px solid $main-color;
  font-family: $title-font;
  font-size: $font-size-large;
  margin-bottom: $l-size;
  text-transform: capitalize;
}

.section__title--secondary {
  margin-bottom: 0;
}

.section__list {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: $l-size;
  width: 90vw;
  @media (min-width: $desktop-breakpoint) {
    justify-content: space-between;
  }
  > * {
    padding: $s-size;
    @media (min-width: $desktop-breakpoint) {
      padding: 0;
    }
  }
}

.section__image__overlay {
  height: 50vh;
  margin: 0;
  max-height: 40rem;
  min-height: 20rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 40vw;
  &:hover .section__image {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  @media (min-width: $desktop-breakpoint) {
    width: 25vw;
  }
}

.section__image__overlay::before,
.section__image__overlay::after {
  content: '';
  background: rgba(100, 96, 102, 0.3);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.section__image {
  height: 100%;
  object-fit: fill;
  transition: all $s-time ease-in-out;
  width: 100%;
}

.section__description {
  color: $grey;
  padding: $s-size;
  text-align: center;
  width: 100%;
}

.section__details {
  color: #237b90;
  font-size: 2.3rem;
  text-align: center;
}

.sociais {
  display: flex;
  margin-bottom: $xl-size;
  margin-top: $l-size;
  > * {
    font-size: $font-size-small;
    padding: 0 $s-size / 2;
  }
}
