.social {
  background-color: #f9e8ef;
  padding: $xl-size 0 0 0;
  width: 100%;
}

.social__title {
  @extend .title-home;
}

.social__details {
  @extend .details-home;
}

.social__list {
  display: flex;
  margin-bottom: $xl-size;
  margin-top: $l-size;
  > * {
    font-size: $font-size-small;
    padding: 0 $s-size / 2;
  }
}

.social__facebook {
  padding-left: 11rem;
}

.social__whatsapp {
  align-items: center;
  display: flex;
  span {
    background-color: $main-color;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 1px 1px 1px 1px #ececec;
    color: $main-background;
    margin-left: 0.6rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &:hover span {
    opacity: 1;
  }
}
