.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button__image {
  height: 50px;
  // margin-right: 0.5em;
  width: 50px;
}

.button__profile {
  align-items: center;
  display: flex;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--home {
  background: $main-color;
  padding: $s-size $l-size * 2;
  text-transform: uppercase;
}
