.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button__image {
  height: 50px;
  // margin-right: 0.5em;
  width: 50px;
}

.button__profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--home {
  background: $main-color;
  border: 2px solid transparent;
  padding: $s-size $l-size * 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all $s-time ease-in-out;
  transition: all $s-time ease-in-out;
}

.button--home-hover {
  &:hover {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid $main-color;
    color: $main-color;
  }
}
