.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-medium;
  font-weight: 300;
  padding: $s-size;
  width: 100%;
}

.text-input-site {
  border: 1px solid #cacccd;
  height: 35px;
  font-size: $font-size-medium;
  font-weight: 300;
  padding: 0 $s-size / 2;
  width: 100%;
}

.select {
  @extend .text-input;
}

.select--site {
  @extend .text-input-site;
}

.label {
  @extend .text-input;
  cursor: pointer;
}

.checkbox {
  margin-right: $s-size;
  transform: scale(1.5);
}

.textarea {
  @extend .text-input;
  height: 10rem;
  resize: vertical;
}

.textarea-site {
  @extend .text-input-site;
  height: 10rem;
  padding: $s-size/2;
  resize: vertical;
}

.icon__file {
  margin-right: $s-size;
}

input:invalid {
  box-shadow: none;
}

input:-moz-submit-invalid {
  box-shadow: none;
}

input:-moz-ui-invalid {
  box-shadow: none;
}
